# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
absl-py=1.0.0=pypi_0
anyio=3.3.0=py39hf3d152e_0
argon2-cffi=20.1.0=py39h3811e60_2
astunparse=1.6.3=pypi_0
async_generator=1.10=py_0
attrs=21.2.0=pyhd8ed1ab_0
babel=2.9.1=pyh44b312d_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
beautifulsoup4=4.10.0=pypi_0
bleach=3.3.1=pyhd8ed1ab_0
boltons=21.0.0=pypi_0
brotlipy=0.7.0=py39h3811e60_1001
ca-certificates=2021.10.8=ha878542_0
cachetools=4.2.4=pypi_0
certifi=2021.10.8=py39hf3d152e_1
cffi=1.14.6=py39he32792d_0
chardet=4.0.0=py39hf3d152e_1
charset-normalizer=2.0.0=pyhd8ed1ab_0
colorama=0.4.4=pyh9f0ad1d_0
contextlib2=21.6.0=pypi_0
cryptography=3.4.7=py39hbca0aa6_0
cycler=0.10.0=pypi_0
cython=0.29.24=pypi_0
debugpy=1.4.1=py39he80948d_0
decorator=5.0.9=pyhd8ed1ab_0
defusedxml=0.7.1=pyhd8ed1ab_0
deprecation=2.1.0=pypi_0
dill=0.3.4=pypi_0
dlib=19.22.1=pypi_0
dtw=1.4.0=pypi_0
entrypoints=0.3=pyhd8ed1ab_1003
ffmpeg-python=0.2.0=pypi_0
filelock=3.4.2=pypi_0
flatbuffers=2.0=pypi_0
freetype=2.10.4=h0708190_1
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
gdown=4.2.0=pypi_0
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.43.0=pypi_0
h11=0.12.0=pypi_0
h5py=3.4.0=pypi_0
htmlmin=0.1.12=py_1
icu=68.2=h9c3ff4c_0
idna=3.1=pyhd3deb0d_0
imagehash=4.2.1=pyhd8ed1ab_0
imageio=2.9.0=pypi_0
importlib-metadata=4.6.1=py39hf3d152e_0
imutils=0.5.4=pypi_0
ipykernel=6.0.3=py39hef51801_0
ipython=7.25.0=py39hef51801_1
ipython_genutils=0.2.0=py_1
ipywidgets=7.6.5=pyhd3eb1b0_1
jbig=2.1=h7f98852_2003
jedi=0.18.0=py39hf3d152e_2
jinja2=3.0.1=pyhd8ed1ab_0
joblib=1.0.1=pyhd8ed1ab_0
jpeg=9d=h36c2ea0_0
json5=0.9.5=pyh9f0ad1d_0
jsonschema=3.2.0=pyhd8ed1ab_3
jupyter_client=6.1.12=pyhd8ed1ab_0
jupyter_core=4.7.1=py39hf3d152e_0
jupyter_server=1.10.1=pyhd8ed1ab_0
jupyterlab=3.1.1=pyhd8ed1ab_0
jupyterlab_pygments=0.1.2=pyh9f0ad1d_0
jupyterlab_server=2.6.1=pyhd8ed1ab_0
jupyterlab_widgets=1.0.0=pyhd3eb1b0_1
keras=2.7.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
lcms2=2.12=hddcbb42_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
lerc=2.2.1=h9c3ff4c_0
libblas=3.9.0=12_linux64_openblas
libcblas=3.9.0=12_linux64_openblas
libclang=12.0.0=pypi_0
libdeflate=1.7=h7f98852_5
libffi=3.3=h58526e2_2
libgcc-ng=11.1.0=hc902ee8_4
libgfortran-ng=11.2.0=h69a702a_11
libgfortran5=11.2.0=h5c6108e_11
libgomp=11.1.0=hc902ee8_4
liblapack=3.9.0=12_linux64_openblas
libopenblas=0.3.18=pthreads_h8fe5266_0
libpng=1.6.37=h21135ba_2
libsodium=1.0.18=h36c2ea0_1
libstdcxx-ng=11.1.0=h56837e0_4
libtiff=4.3.0=hf544144_1
libuv=1.42.0=h7f98852_0
libwebp-base=1.2.1=h7f98852_0
littleutils=0.2.2=pypi_0
llvmlite=0.37.0=pypi_0
lz4-c=1.9.3=h9c3ff4c_1
markdown=3.3.6=pypi_0
markupsafe=2.0.1=py39h3811e60_0
matplotlib=3.4.2=pypi_0
matplotlib-base=3.4.3=py39h2fa2bec_0
matplotlib-inline=0.1.2=pyhd8ed1ab_2
missingno=0.4.2=py_1
mistune=0.8.4=py39h3811e60_1004
multimethod=1.4=py_0
natsort=7.1.1=pypi_0
nbclassic=0.3.1=pyhd8ed1ab_1
nbclient=0.5.3=pyhd8ed1ab_0
nbconvert=6.1.0=py39hf3d152e_0
nbformat=5.1.3=pyhd8ed1ab_0
ncurses=6.2=h58526e2_4
nest-asyncio=1.5.1=pyhd8ed1ab_0
networkx=2.6.3=pyhd8ed1ab_1
nodejs=14.17.4=h92b4a50_0
notebook=6.4.0=pyha770c72_0
numba=0.54.1=pypi_0
numpy=1.20.3=pypi_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyh9f0ad1d_1
opencv-python=4.5.3.56=pypi_0
openssl=1.1.1l=h7f98852_0
opt-einsum=3.3.0=pypi_0
outcome=1.1.0=pypi_0
outdated=0.2.1=pypi_0
packaging=21.0=pyhd8ed1ab_0
pandas=1.3.1=pypi_0
pandas-flavor=0.2.0=pypi_0
pandas-profiling=3.1.0=pyhd8ed1ab_0
pandoc=2.14.1=h7f98852_0
pandocfilters=1.4.2=py_1
parso=0.8.2=pyhd8ed1ab_0
patsy=0.5.2=pyhd8ed1ab_0
pexpect=4.8.0=pyh9f0ad1d_2
phik=0.12.0=py39h35eb5ba_1
pickleshare=0.7.5=py_1003
piexif=1.1.3=pypi_0
pillow=8.3.1=pypi_0
pingouin=0.5.0=pypi_0
pip=21.2.4=py39h06a4308_0
plotly=5.3.1=py_0
prometheus_client=0.11.0=pyhd8ed1ab_0
prompt-toolkit=3.0.19=pyha770c72_0
protobuf=3.19.1=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybind11-abi=4=hd8ed1ab_3
pycparser=2.20=pyh9f0ad1d_2
pydantic=1.8.2=py39h3811e60_2
pygments=2.9.0=pyhd8ed1ab_0
pyopenssl=20.0.1=pyhd8ed1ab_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.17.3=py39h3811e60_2
pysocks=1.7.1=py39hf3d152e_3
python=3.9.6=h49503c6_1_cpython
python-dateutil=2.8.2=pyhd8ed1ab_0
python_abi=3.9=2_cp39
pytz=2021.1=pyhd8ed1ab_0
pywavelets=1.2.0=py39hce5d2b2_1
pyyaml=6.0=py39h3811e60_3
pyzmq=22.1.0=py39h37b5a0c_0
readline=8.1=h46c0cb4_0
requests=2.26.0=pyhd8ed1ab_0
requests-oauthlib=1.3.0=pypi_0
requests-unixsocket=0.2.0=py_0
retina-face=0.0.5=pypi_0
rsa=4.8=pypi_0
saccademodel=0.1.0=pypi_0
schema=0.7.4=pypi_0
scikit-learn=0.24.2=pypi_0
scikit-posthocs=0.6.7=pyhd8ed1ab_0
scipy=1.7.1=pypi_0
seaborn=0.11.2=hd8ed1ab_0
seaborn-base=0.11.2=pyhd8ed1ab_0
selenium=4.0.0=pypi_0
send2trash=1.7.1=pyhd8ed1ab_0
setuptools=49.6.0=py39hf3d152e_3
six=1.16.0=pyh6c4a22f_0
sklearn=0.0=pypi_0
sniffio=1.2.0=py39hf3d152e_1
sortedcontainers=2.4.0=pypi_0
soupsieve=2.3.1=pypi_0
sqlite=3.36.0=h9cd32fc_0
statsmodels=0.13.1=py39hce5d2b2_0
tabulate=0.8.9=pypi_0
tangled-up-in-unicode=0.1.0=pyhd8ed1ab_0
tenacity=8.0.1=py39h06a4308_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.7.0=pypi_0
tensorflow-estimator=2.7.0=pypi_0
tensorflow-gpu=2.7.0=pypi_0
tensorflow-io-gcs-filesystem=0.23.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.10.1=py39hf3d152e_0
testpath=0.5.0=pyhd8ed1ab_0
threadpoolctl=2.2.0=pypi_0
tk=8.6.10=h21135ba_1
tornado=6.1=py39h3811e60_1
tqdm=4.62.3=pyhd8ed1ab_0
traitlets=5.0.5=py_0
trio=0.19.0=pypi_0
trio-websocket=0.9.2=pypi_0
typing-extensions=4.0.1=hd8ed1ab_0
typing_extensions=4.0.1=pyha770c72_0
tzdata=2021a=he74cb21_1
urllib3=1.26.6=pyhd8ed1ab_0
visions=0.7.4=pyhd8ed1ab_0
wcwidth=0.2.5=pyh9f0ad1d_2
webencodings=0.5.1=py_1
websocket-client=0.57.0=py39hf3d152e_4
werkzeug=2.0.2=pypi_0
wheel=0.36.2=pyhd3deb0d_0
widgetsnbextension=3.5.1=py39h06a4308_0
wrapt=1.13.3=pypi_0
wsproto=1.0.0=pypi_0
xarray=0.20.2=pypi_0
xz=5.2.5=h516909a_1
yaml=0.2.5=h516909a_0
zeromq=4.3.4=h9c3ff4c_0
zipp=3.5.0=pyhd8ed1ab_0
zlib=1.2.11=h516909a_1010
zstd=1.5.0=ha95c52a_0
